<body>
        <header>

            
                <section class="wrapper">
                        
                           
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top alt animated navbar-custom">
        <div>
                <a href="http://localhost:4200/Inicio"> 
            <img
            width="200"
            atl="TecnoCultura"
            
            src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-9e22e.appspot.com/o/TECNOCULTURALOGO.gif?alt=media&token=86d673c0-6400-4ba0-9ab5-33fe32d65059" alt="TecnoCultura 47"
            /> </a>
        </div>
        <a  class="navbar-brand"  href="#"></a>
        <div  class="collapse navbar-collapse"  id="navbarText">
        <ul  class="navbar-nav">
        <li  class="nav-item">
            <a  class="nav-link"  routerLink="/Inicio">Inicio</a>
        </li>
        <li  class="nav-item">
            <a  class="nav-link"  routerLink="/Conocenos">Conocenos</a>
        </li>
        <li  class="nav-item">
            <a  class="nav-link"  routerLink="/Lineamientos">Lineamientos</a>
        </li>
        <li  class="nav-item">
            <a  class="nav-link"  routerLink="/Anteriores">Numeros Anteriores</a>
            </li>
            <li  class="nav-item">
                <a  class="nav-link"  routerLink="/Editorial">Editorial</a>
                </li>
                <li  class="nav-item">
                    <a  class="nav-link"  routerLink="/Contactanos">Contactanos</a>
                    </li>
                <li  class="nav-item">
        <a  class="nav-link"  href="#">Admin</a>
        
        </li>
        </ul>
        </div>

      
        </nav>
    </section>
</header>

</body>

